<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Supporters House Menu</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>
  <header class="header">
    <h1 class="title">Supporters House Menu</h1>

    <!-- add image later in /static/logo.png -->
    <!-- <img class="logo" src="{{ url_for('static', filename='logo.png') }}" alt="Supporters House logo"> -->
  </header>

  <div class="grid">
    <a class="tile" href="{{ url_for('get_cocktails_page') }}">
      <p class="tile-title">Cocktails</p>
    </a>
  </div>
  <div class="grid">
    <a class="tile" href="{{ url_for('get_wines') }}">
      <p class="tile-title">Wines</p>
    </a>
  </div>
  <div class="grid">
    <a class="tile" href="{{ url_for('get_products') }}">
      <p class="tile-title">All Products</p>
    </a>
  </div>
</body>
</html>
