{% extends "base.html" %}
{% block title %}Supporters House Bar Menu{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
  <header class="header">
    <div class="title-row">
      <h1 class="title">Supporters House Bar Menu</h1>
      <img class="logo" src="{{ url_for('static', filename='images/logo/logo.png') }}" alt="Supporters House logo">
    </div>
    <p class="header-description">
      Our wine list has been created by vineyards who support our ethos
      to reduce environmental impact and deliver the highest social
      and environmental standards.
    </p>
    <p class="header-description">
      We believe in creating a mindful drinking culture that respects
      individual's choices and promotes a healthy, inclusive atmosphere
      where everyone feels comfortable and valued. This we achieve
      through providing quality alcoholic and non-alcoholic drinks options.
    </p>
    <p class="header-description">
      Within the list, we have shown the ABV (alcohol by volume) figure
      and whether the wine is vegan (ve).
    </p>
  </header>

  <div class="grid">
    <a class="tile" href="{{ url_for('get_cocktails_page') }}">
      <p class="tile-title">Cocktails</p>
    </a>
    <a class="tile" href="{{ url_for('get_mocktails_page') }}">
      <p class="tile-title">Mocktails</p>
    </a>
    <a class="tile" href="{{ url_for('get_wines') }}">
      <p class="tile-title">Wines</p>
    </a>
    <a class="tile" href="{{ url_for('get_spirits') }}">
      <p class="tile-title">Spirits</p>
    </a>
    <a class="tile" href="{{ url_for('get_beers_page') }}">
      <p class="tile-title">Beers</p>
    </a>
    <a class="tile" href="{{ url_for('get_softs_page') }}">
      <p class="tile-title">Soft Drinks</p>
    </a>
    <a class="tile" href="{{ url_for('get_hot_drinks_page') }}">
      <p class="tile-title">Hot Drinks</p>
    </a>
  </div>
{% endblock %}
